body {
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}

#landing-page {
    margin-left : 25%;
    padding: 1px 16px;
    height: 1000px;
}

#user-posts {
    float: right;
    padding: 1px 16px;
    height: 1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color:#f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
}

li a.active {
    background-color:lightskyblue;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color:white;
}

.admin_sublist {
    font-size : 18px;
    text-align: right;
}

#users_table {
    border-collapse: collapse;
    border : 1px solid;  
    width : 10%;
}

#users_table tr:nth-child(even) {
    background-color: lightgrey;
} 